<div id="goodsDetail_content" class="container-fluid">
    <h3 class="div-margin-top">发布商品</h3>
    <div class="row margin00">
        <p class="col-md-3 marginr20 border-b paddtb12 paddrl0">
            商品编号：<%=data.SKU%>
        </p>
        <p class="col-md-3 border-b paddtb12 paddrl0">
             商品名称：<%=data.goodsName%></span>
        </p>
    </div>
    <p class="paddtb12">
        商品分类：未返回
    </p>
    <p class="paddtb12">
        <span class="border-b paddtb12 paddr20">商品类别：未返回</span>
    </p>
    <div class="paddtb12">
        <div class="paddr20">
            <div class="radio">
                商品类型：
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 选项 1
                </label>
            </div>
        </div>
    </div>
    <div class="row margin00">
        <p class="col-md-2 marginr20 border-b paddtb12 paddrl0">
            吊牌价：<%=data.originalPrice%>
        </p>
        <p class="col-md-2 marginr20 border-b paddtb12 paddrl0">
             售价：<%=data.price%>
        </p>
        <p class="col-md-2 border-b paddtb12 paddrl0">
             折扣：<%=data.discount*100%>
        </p>
    </div>
    <p class="paddtb12">
        <span class="float-left">产品信息：</span>
        <textarea class="col-md-6" rows="4"><%=data.discount*100%></textarea>  
        <div class="clearfix"></div>      
    </p>
    <div class="row margin00 margint10">
        <p>商品尺码SKU:</p>
        <div class="col-md-6 paddrl0"> 
            <table class="table">
                <tbody class="text-center table-bordered">         
                    <tr>
                        <td>颜色</td>
                        <td>尺码</td>
                        <td>SKU</td>
                        <td>库存</td>
                    </tr>
                    <%for(var i=0;i<data.color.length;i++){%>          
                    <tr>
                        <td><%=data.color[i].colorName%></td>
                        <td>尺码</td>
                        <td>未知</td>
                        <td>库存</td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <div class="">
        <h4>商品图片<small>（文件大小建议450.00K以内[1460*2336]）&nbsp;最多可上传7张</small></h4>
        <%for(var i=0;i<data.picurls.length;i++){    
            if(i%4==0){%>    
                <div class="row margin00">
            <%}%>
            <img src="<%=data.picurls[i]%>" class="marginr20 margint10" width="120" height="180" />
            
            <%if(i%4==3){%>    
                </div>
            <%}%>
        <%}%>
        <h4>搭配商品：</h4>
        <%for(var i=0;i<data.setList.length;i++){    
            if(i%4==0){%>    
                <div class="row margin00">
            <%}%>
            <img src="<%=data.setList[i].picurl%>" class="marginr20 margint10" width="120" height="180" />
            
            <%if(i%4==3){%>    
                </div>
            <%}%>
        <%}%>       
    </div>
    <div class="col-md-8 margint10 paddb20">
        <div class="col-md-5 col-md-offset-7">
            <button class="col-md-5 btn btn-default"><a href="#goodsInfo">返回</a></button>
        </div>
    </div>
</div>
