<div id="goodsInfo_content" class="container-fluid row">
    <div id="classifyList" data-classify="141" class="classify212 sidebar sidebar-menu col-sm-2 col-sm-offset-2 paddl15" style="color:#333;background-color: #eee;">
        <div class="padda20 tab text-center">                      
            <div class="tab-item active paddtb8">商品管理</div>
            <div class="tab-item margint10 paddtb8 uhide">同步官网商品管理</div>
            <div class="tab-item margint10 paddtb8 uhide">导购自定义商品管理</div>
        </div>        
        <div class="paddl15 paddtb12" ><span onclick="classifySelected(this)">未分类</span></div>
        <div class="paddl15 paddtb12"><span class="green c-wh" onclick="classifySelected(this)">全部分类</span></div>  
        <!-- 分类列表加载模板-->             
    </div>
    <div id="goodsInfo_right" class="col-sm-10 col-sm-offset-2 bc-wh" style="overflow-x: auto;overflow-y: auto;">
        <div class="margin-l40">
            <div class="" id="toppp"> 
                <div class="table-responsive" style="padding-top: 20px;">
                    <ul class="nav nav-tabs row">
                        <li class="active col-md-2 col-sm-3 text-center paddrl0" data-id="onsaleGoods"  data-shelvetype="出售中">
                            <a href="#goodsInfo">出售中商品</a>
                        </li>
                        <li class="col-md-2 col-sm-3 text-center paddrl0" data-id="warehouseGoods" data-shelvetype="仓库中">
                            <a href="#goodsInfo">仓库中商品</a>
                        </li>
                    </ul>
                </div>
                <div class="row paddl4 margint10">      
                    <div class="col-md-2 col-sm-4 paddl0">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input id="goodsSKU" type="text" class="form-control" id="num" placeholder="编号">
                                </div>
                            </div>
                        </form>
                    </div>  
                    <div class="float-left marginl15 marginr15" style="width: 70px;">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <select id="goodsType" class="form-control float-left">
                                    <option value="">全部类型</option>                                
                                </select>
                            </div>
                        </form>               
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input id="goodsName" type="text" class="form-control" id="name" placeholder="名称">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-sm-6 paddrl0">
                        <form class="form-horizontal float-left paddr15" role="form">
                            <div class="">
                                <div class="float-left paddrl0">
                                    <input id="priceFrom" type="text" style="width: 80px;" class="form-control" id="name" placeholder="价格">
                                </div>
                                <span class="float-left" style="padding: 4px 4px;">至</span>
                                <div class="float-left paddrl0">
                                    <input id="priceTo" type="text" style="width: 80px;" class="form-control" id="name" placeholder="价格">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        <form class="form-horizontal float-left" role="form">
                            <div class="">
                                <div class="float-left paddrl0">
                                    <input id="stockFrom" type="text" style="width: 80px;" class="form-control" id="name" placeholder="库存">
                                </div>
                                <span class="float-left" style="padding: 4px 4px;">至</span>
                                <div class="float-left paddrl0">
                                    <input id="stockTo" type="text" style="width: 80px;" class="form-control" id="name" placeholder="库存">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        <button id="search" class="btn btn-success marginl15"> 查询</button>
                    </div>
                    
                    <!-- <div class="float-left paddtb8 paddrl0 border-b marginr20">
                        <span>编号</span>
                        <input id="goodsSKU" class="bordernone margint0 bc-wh w72p" type="text" />
                    </div>                
                    <div class="float-left paddtb8 border-b marginr20">
                        <span class="paddr15">类型</span>
                        <select id="goodsType" class="">
                            <option>全部类型</option>                            
                        </select>
                    </div>
                    <div class="float-left paddtb8 paddrl0 border-b marginr20">
                        <span>名称</span>
                        <input id="goodsName" class="bordernone margint0 bc-wh w72p" type="text" />
                    </div>
                    <div class="float-left paddtb8 paddrl0 border-b marginr20">
                        <span>价格</span>
                        <input id="priceFrom" class="bordernone margint0 bc-wh w60p" type="text" />
                        <span>至</span>
                        <input id="priceTo" class="bordernone margint0 bc-wh w60p" type="text" />
                    </div>
                    <div class="float-left paddtb8 paddrl0 border-b marginr20">
                        <span>库存</span>
                        <input id="stockFrom" class="bordernone margint0 bc-wh w60p" type="text" />
                        <span>至</span>
                        <input id="stockTo" class="bordernone margint0 bc-wh w60p" type="text" />
                    </div>
                    <div class="float-left paddtb8 paddrl0">
                        <button id="search" class="btn btn-success"> 查询</button>
                    </div> -->
                </div>
                <div class="row paddl4">
                    <div class="col-md-2 col-sm-3 paddrl0">
                        <div class="checkbox">
                            <label>
                               <input id="selAll" type="checkbox">当前页全选
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9" style="margin-top: 4px;">
                        <button id="setClassify" class="marginr10 btn btn-default">批量设置分类</button>
                        <button id="onshelve" class="marginr10 btn btn-default uhide">上架</button>
                        <button id="unshelveForever" class="marginr10 btn btn-default">永久下架</button>
                        <button id="shelveModify" class="marginr10 btn btn-default">货架调整</button>                        
                    </div>
                </div>
            </div>
            <div id="onsaleGoods" class="tab-content">                
                <div id="tableList" class="row margint10">
                    
                </div>
            </div>
            <!-- <div id="warehouseGoods" class="tab-content uhide">
                <div class="tableList_wareHouse" class="row margint10">
                                        
                </div>            
            </div> -->
        </div>        
    </div>
    <div id="shelvePop" class="container-fluid uhide">
        <div class="zhezhao"></div>
        <div class="col-sm-12 bc-eee" style="height: 100%;z-index: 1999;overflow: hidden;">
            <div class="padda20 bc-999 row" style="line-height: 5%;height: 5%;">
                <span class="c-wh">货架调整</span>
                <span class="closeXXX c-wh" style="font-size: 24px;float: right;">X</span>
            </div>
            <div class="" style="height: 93%;margin-top: 1%;">
                <div class="paddrl0 border-r" style="width: 202px; position: absolute;top: 7%;left: 20;height: 100%;z-index: 9999;">
                    <ul id="sortable" style="list-style: none;height: 86%;overflow-y: auto;">
                        
                        
                    </ul>
                    <div class="text-center" style="width: 202px;height: 5%;">
                        <button id="shelveCancel" class="btn btn-default">取消</button>
                        <button id="shelveSubmit" class="btn btn-default">保存</button>
                    </div>
                </div>
                <div  class="col-sm-12 paddrl0" style="overflow-y: scroll;height: 100%;padding-left: 202px;">
                    <table class="table table-bordered text-center" style="vertical-align:middle;max-height:95%;overflow-x: auto;overflow-y: auto;">
                    
                    </table>
                    <div class="pagination" style="height: 5%;">
                        页码123456
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="classifyPop" class="uhide">
        <div class="zhezhao" class="uhide"></div>
        <div id="classifyList22" class="classify212 paddrl0 col-sm-3 col-sm-offset-4 bc-eee" style="z-index: 1299;">         
            <div class="text-center padda20">
                <button id="setClassifySubmit" class="btn btn-success">提交</button>
                <button class="btn btn-success closeXXX">返回</button>
            </div>
            
        </div>
    </div>
</div>

<script>        
    if(localStorage["loginType"]=="DGB"){
        $(".uhide","#goodsInfo_content .tab").remove("uhide");
    }           
     
    if (window.innerHeight){
        winHeight = window.innerHeight;
    }else if ((document.body) && (document.body.clientHeight)){
        winHeight = document.body.clientHeight;
    }
                    
    var tableHeight = winHeight-$("#toppp","#goodsInfo_content").outerHeight()-40;
    $(".table","#goodsInfo_content").parent().css("height",tableHeight.toString()+"px").css("overflow-y","auto");
    $("#shelvePop").css("height",winHeight+"px");
        
    
    //窗口大小改变
    $(window).resize(function() {
        if (window.innerHeight){
            winHeight = window.innerHeight;
        }else if ((document.body) && (document.body.clientHeight)){
            winHeight = document.body.clientHeight;
        }
        var tableHeight = winHeight-$("#toppp","#goodsInfo_content").outerHeight()-40;
        $(".table","#goodsInfo_content").parent().css("height",tableHeight.toString()+"px");
    });    
        
</script>
