<div id="index_content">
    <div class="row">    
        <div class="col-md-10 col-md-offset-1 paddb20">
            <div class="col-md-10 paddb20 text-right div-margin-top">
                <button class="row btn btn-default">刷新</button>
            </div>
            <h4 class="col-md-12 col-rl00 paddb20">事项提醒</h4>
            <div class="col-md-2 col-sm-2 text-center border-r">
                <h4 class="margint0"><%=data.waitPayNow%></h4>
                <span class="margint10 col-md-12 c-red">待发货</span>
            </div>
            <div class="col-md-2 col-sm-2 text-center border-r">
                <h4 class="margint0"><%=data.waitRetuenNow%></h4>
                <span class="margint10 col-md-12">待退款</span>
            </div>
            <div class="col-md-2 col-sm-2 text-center border-r">
                <h4 class="margint0"><%=data.newProductNow%></h4>
                <span class="margint10 col-md-12">新入库</span>
            </div>
            <div class="col-md-2 col-sm-2 text-center border-r">
                <h4 class="margint0"><%=data.lowStockNow%></h4>
                <span class="margint10 col-md-12 c-green">库存紧张</span>
            </div>
            <div class="col-md-2 col-sm-2 text-center border-r">
                <h4 class="margint0"><%=data.waitShelvesNow%></h4>
                <span class="margint10 col-md-12">待上架</span>
            </div>
            <div class="col-md-10 paddrl0 margint40"> 
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th><h4>昨日销售统计</h4></th>                
                        </tr>
                    </thead>
                    <tbody >            
                        <tr>
                            <td>待付款订单</td>
                            <td>待发货订单</td>
                            <td>已发货订单</td>
                            <td>退货处理订单</td>
                            <td>完成交易订单</td>
                            <td>交易关闭订单</td>
                            <td>已取消订单</td>
                        </tr>
                        <tr>
                            <td><%=data.waitPay.amount%></td>
                            <td><%=data.waitSend.amount%></td>
                            <td><%=data.Send.amount%></td>
                            <td><%=data.returnGoods.amount%></td>
                            <td><%=data.orderComplate.amount%></td>
                            <td><%=data.orderClose.amount%></td>
                            <td><%=data.orderCancel.amount%></td>
                        </tr>
                        <tr>
                            <td>商品件数</td>
                            <td>商品件数</td>
                            <td>商品件数</td>
                            <td>商品件数</td>
                            <td>商品件数</td>
                            <td>商品件数</td>
                            <td>商品件数</td>
                        </tr>
                        <tr>
                            <td><%=data.waitPay.goodsCount%></td>
                            <td><%=data.waitSend.goodsCount%></td>
                            <td><%=data.Send.goodsCount%></td>
                            <td><%=data.returnGoods.goodsCount%></td>
                            <td><%=data.orderComplate.goodsCount%></td>
                            <td><%=data.orderClose.goodsCount%></td>
                            <td><%=data.orderCancel.goodsCount%></td>
                        </tr>
                        <tr>
                            <td>总金额</td>
                            <td>总金额</td>
                            <td>总金额</td>
                            <td>总金额</td>
                            <td>总金额</td>
                            <td>总金额</td>
                            <td>总金额</td>
                        </tr>
                        <tr>
                            <td><%=data.waitPay.orderCount%></td>
                            <td><%=data.waitSend.orderCount%></td>
                            <td><%=data.Send.orderCount%></td>
                            <td><%=data.returnGoods.orderCount%></td>
                            <td><%=data.orderComplate.orderCount%></td>
                            <td><%=data.orderClose.orderCount%></td>
                            <td><%=data.orderCancel.orderCount%></td>
                        </tr>                
                       
                    </tbody>
                </table>                
            </div>
        </div>
    </div>    
</div>
