<div class="">
    <h3>功能暂定（根据异常单具体情况再确认功能）</h3>
</div>
<!-- <div id="orderAbnormal_content" class="">
    <div id="toppp" class="div-margin-top">
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form role="form">
                    <div class="form-group">
                        <select class="form-control">
                            <option>全部订单</option>
                            <option>全部订单1</option>
                            <option>全部订单2</option>
                            <option>全部订单3</option>
                            <option>全部订单4</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">

            </div>
        </div>
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="收货人">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="收货手机号">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="会员账号">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="订单编号">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form role="form">
                    <div class="form-group">
                        <select class="form-control">
                            <option>按下单时间</option>
                            <option>2016-2-17</option>
                            <option>2016-2-18</option>
                            <option>2016-2-19</option>
                            <option>2016-2-16</option>
                            <option>2016-2-15</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="input-group date">
                  <input type="text" placeholder="开始时间" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="input-group date">
                    <input type="text" placeholder="结束时间" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <button type="button" class="btn btn-success" style="width:50%;">查询</button>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div class="">
    	<table class="table table-striped table-bordered table-hover text-center">
        <thead>
            <tr>
                <th class="center1">订单编号</th>
                <th class="center1">商品编号</th>
                <th class="center1">商品数量</th>
                <th class="center1">商品状态</th>
                <th class="center1">下单时间</th>
                <th class="center1">付款时间</th>
                <th class="center1">出库时间</th>
                <th class="center1">订单状态</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td>2016-02-18 12:33:24</td>
                <td></td>
                <td>已取消</td>
            </tr>
            <tr>
                <td>1201602171036450195</td>
                <td>116245003021360</td>
                <td>1</td>
                <td>已取消</td>
                <td>2016-02-17 10:36:45</td>
                <td></td>
                <td>2016-02-18 12:33:24</td>
                <td>已取消</td>
            </tr>

        </tbody>
    </table>
    </div>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p class="pagination">
                    显示从1到10，共302条。每页显示10
                </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-sm-4 text-right">
                       <form role="form" class="pagination">
                    <div class="form-group">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form> 
                    </div>
                    <div class="col-sm-8">
                        <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</div> -->
<script>
    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        language: "zh-CN"
    });
    
    var tableHeight = winHeight-$("#toppp","#orderAbnormal_content").outerHeight()-94;
    $("table","#orderAbnormal_content").parent().css("height",tableHeight.toString()+"px").css("overflow-y","auto");
    
    //窗口大小改变
    $(window).resize(function() {
        if (window.innerHeight){
            winHeight = window.innerHeight;
        }else if ((document.body) && (document.body.clientHeight)){
            winHeight = document.body.clientHeight;
        }
        var tableHeight = winHeight-$("#toppp","#orderAbnormal_content").outerHeight()-94;
        $("table","#orderAbnormal_content").parent().css("height",tableHeight.toString()+"px");
    });
</script>
