<div id="orderAll_content">
    <div id="toppp" class="div-margin-top2 marginb10">
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form role="form">
                    <div class="form-group">
                        <select id="orderStatus" class="form-control">
                            <!-- <option value="1">全部订单</option>
                            <option value="2">全部订单1</option>
                            <option value="3">全部订单2</option>
                            <option value="4">全部订单3</option>
                            <option value="5">全部订单4</option> -->
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="receiveName"
                            placeholder="收货人">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="receivePhone"
                            placeholder="收货手机号">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="memberAccount"
                            placeholder="会员账号">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="orderNo"
                            placeholder="订单编号">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form role="form">
                    <div class="form-group">
                        <select id="timeType" class="form-control">
                            <option>按下单时间</option>
                            <option>2016-2-17</option>
                            <option>2016-2-18</option>
                            <option>2016-2-19</option>
                            <option>2016-2-16</option>
                            <option>2016-2-15</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="input-group date">
                  <input id="timeFrom" type="text" placeholder="开始时间" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="input-group date">
                  <input id="timeTo" type="text" placeholder="结束时间" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <button id="search" type="button" class="btn btn-success" style="width:50%;">查询</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="content1" class="table-responsive2">
        
        
    </div>   
</div> 
<script>
    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        language: "zh-CN"
    });
    
    function orderNumSave(obj){
        localStorage["orderNo"] = $("a",obj).text();
        localStorage["orderStatus"] = $(obj).data("orderstatus");
    }
    
    if (window.innerHeight){
        winHeight = window.innerHeight;
    }else if ((document.body) && (document.body.clientHeight)){
        winHeight = document.body.clientHeight;
    }
                       
    var tableHeight = winHeight-$("#toppp","#orderAll_content").outerHeight()-100;
    $(".table","#orderAll_content").parent().css("height",tableHeight.toString()+"px").css("overflow-y","auto");
    
    //窗口大小改变
    $(window).resize(function() {
        if (window.innerHeight){
            winHeight = window.innerHeight;
        }else if ((document.body) && (document.body.clientHeight)){
            winHeight = document.body.clientHeight;
        }
        tableHeight = winHeight-$("#toppp","#orderAll_content").outerHeight()-100;
        $(".table","#orderAll_content").parent().css("height",tableHeight.toString()+"px");
    });
</script>
