<div class="top v-center">
    <a href="#addInfo_add" target="_self" id="addNew">
        <button type="button" class="btn btn-default btn-success c-wh"  style="outline: none;">
           添加信息
        </button>
    </a>
</div>
<table class="table table-bordered" id="aboutUsTable">
   <!-- <thead>
      <tr>
         <th>名称</th>
         <th>城市</th>
         <th>密码</th>
      </tr>
   </thead> -->
   <tbody>
      <tr class="odd_bg">
         <td class="center">图片</td>
         <td class="center">关于我们</td>
         <td class="center">操作</td>
      </tr>
      <tr class="even_bg">
         <td>
             <img src="assets/css/img/aboutUs.jpg" style="width:260px; height:390px;"/>
         </td>
         <td id="desc">
             JACK&JONES（杰克琼斯）诞生于1989年，是丹麦BESTSELLER集团旗下的主要品牌之一，主营欧式风格设计男装。
         </td>
         <td class="center  mouse-pointer">
             <div style="width:200px; text-align: center;">
                 <a href="#addInfo"><span class="bianji" id="aboutUs_edit"></span></a>
                 <span class="shanchu" id="aboutUs_del"></span>
             </div>
         </td>
      </tr>
   </tbody>
</table>
<script>
     $("#aboutUs_edit","aboutUsTable").on("click",function(){
       // // alert(1);
       // //aboutUsListViewInstance.aboutUsEdit();
       // var aboutUsId = 1;
       // var aboutUsImg = $("img","aboutUsTable").attr("src");
       // var aboutUsDesc = $("#desc","aboutUsTable").text();
       // localStorage["infoType","edit"];
       // localStorage["aboutUsId","1"];
       // localStorage["aboutUsImg",aboutUsImg];
       // localStorage["aboutUsDesc",aboutUsDesc];
       // alert("aboutUsImg~~~"+aboutUsImg);
       // alert("aboutUsDesc~~~"+aboutUsDesc);
    // });
    // $("#addNew").on("click",function(){
        // localStorage["infoType","addNew"];
    });
    $("#aboutUs_del","aboutUsTable").on("click",function(){
       // alert(1);
       aboutUsListViewInstance.aboutUsDel($(this));
    });
</script>
