<ul class="sidebar-menu iconfont">
    <li>
        <a class="active" href="portalIndex.html" target="contentFrame" id="portalin"> <i class="icon-dashboard"></i> <span>首页</span> </a>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-laptop"></i> <span>企业CIS</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="Corporateculture_list.html" target="contentFrame">企业文化</a>

            </li>
            <li class="leaf">
                <a href="cultivate_list.html" target="contentFrame">培训活动</a>

            </li>
            <li class="leaf">
                <a href="active_list.html" target="contentFrame">文体活动</a>

            </li>
            <!-- <li class="leaf"><a href="cultivate_Mypart_list.html" target="contentFrame">我参加的培训</a>

            </li>
            <li class="leaf"><a href="active_Mypart_list.html" target="contentFrame">我参加的活动</a>

            </li> -->

        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>公告管理</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="notice_list.html" target="contentFrame">公告浏览</a>

            </li>
        </ul>
    </li>

   
</ul>
<script src="js/lib/sidebar-scripts.js"></script>