<ul class="sidebar-menu iconfont">
    <li>
        <a class="active" href="portalIndex.html" target="contentFrame" id="portalin"> <i class="icon-dashboard"></i> <span>首页</span> </a>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-laptop"></i> <span>企业CIS</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="Corporateculture_list.html" target="contentFrame">企业文化</a>

            </li>
            <li class="leaf">
                <a href="cultivate_list.html" target="contentFrame">培训活动</a>

            </li>
            <li class="leaf">
                <a href="active_list.html" target="contentFrame">文体活动</a>

            </li>
            <!-- <li class="leaf"><a href="cultivate_Mypart_list.html" target="contentFrame">我参加的培训</a>

            </li>
            <li class="leaf"><a href="active_Mypart_list.html" target="contentFrame">我参加的活动</a>

            </li> -->

        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>公告管理</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="notice_list.html" target="contentFrame">公告浏览</a>

            </li>
        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-cogs"></i> <span>规章制度</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="rule_list.html" target="contentFrame">规章制度</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>工单审批</span> </a>
        <ul class="sub">

            <!-- <li class="leaf"><a href="welcome.html" target="contentFrame">新建工单</a>

            </li>  -->
            <li class="leaf">
                <a href="Workorder_add.html" target="contentFrame">新建工单</a>

            </li>

            <li class="leaf">
                <a href="Workorder_My_list.html?type=1" target="contentFrame">我的申请</a>

            </li>

            <li class="leaf">
                <a href="workOrder_signing.html" target="contentFrame">工单审批</a>

            </li>
        </ul>
    </li>

    <li class="sub-menu" id="departmentli" style="display: none">
        <a href="javascript:;"> <i class="icon-book"></i> <span>部门编制</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="Department_list.html" target="contentFrame">部门编制</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>工作目标</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="Jobtarget_Myrespons_list.html" target="contentFrame">我负责的</a>

            </li>
            <li class="leaf">
                <a href="Jobtarget_Mypart_list.html?type=2" target="contentFrame">我参与的</a>

            </li>
            <li class="leaf">
                <a href="Jobtarget_Myunder_list.html?type=3" target="contentFrame">我下属的</a>

            </li>
            <li class="leaf">
                <a href="Jobtarget_Mypublish_list.html?type=4" target="contentFrame">我分配的</a>

            </li>
            <li class="leaf">
                <a href="Jobtarget_Myfollow_list.html?type=5" target="contentFrame">我关注的</a>

            </li>
            <li class="leaf" style="display: none" id="alltgl">
                <a href="Jobtarget_All_list.html?type=3" target="contentFrame">全部</a>

            </li>
        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>工作任务</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="Jobtask_My_list.html?btns=view,add" target="contentFrame">我负责的</a>
            </li>
            <li class="leaf">
                <a href="Jobtask_Myunder_list.html?btns=view" target="contentFrame">我下属的</a>
            </li>
            <li class="leaf">
                <a href="Jobtask_Mypublish_list.html?btns=view" target="contentFrame">我分配的</a>
            </li>
            <li class="leaf">
                <a href="Jobtask_Myfollow_list.html?btns=view" target="contentFrame">我关注的</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>工作计划</span> </a>
        <ul class="sub">
            <li class="leaf" id="planupload" style="display: none ">
                <a href="Departplan_Report_list.html" target="contentFrame">工作计划上报</a>
            </li>
            <li class="leaf" id="planexa" style="display: none">
                <a href="Departplan_Exa_list.html" target="contentFrame">工作计划审批</a>
            <li class="leaf" id="planlook">
                <a href="Departplan_Look_list.html" target="contentFrame">工作计划查看</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>工作报告</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="Jobaffair_Mypublish.html?btns=view,del&typezhou=1" target="contentFrame">我发出的报告</a>
            </li>
            <li class="leaf">
                <a href="Jobaffair_Myget_list.html?btns=view&typezhou=1" target="contentFrame">我收到的报告</a>
            </li>
            <li class="leaf" id="yearlyreportli" style="display: none">
                <a href="Jobaffair_view_list.html" target="contentFrame">报告查看</a>
            </li>
        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>日程管理</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="Schedule_list.html" target="contentFrame">日程管理</a>
            </li>
        </ul>
    </li>

    <li class="sub-menu" >
        <a href="javascript:;"> <i class="icon-book"></i> <span>考勤管理</span> </a>
        <ul class="sub">
            <li class="leaf" id="attendancevieli" style="display: none">
                <a href="attendance_view_list.html" target="contentFrame">部门考勤</a>
            </li>
            <li class="leaf">
                <a href="attendance_list.html" target="contentFrame">我的考勤</a>
            </li>
        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;"> <i class="icon-book"></i> <span>员工动态</span> </a>
        <ul class="sub">
            <li class="leaf">
                <a href="person_list.html" target="contentFrame">员工入职</a>
            <li class="leaf">
                <a href="person_change_list.html" target="contentFrame">员工异动</a>
            </li>
        </ul>
    </li>
</ul>
<script src="js/lib/sidebar-scripts.js"></script>