<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a  href="#people"> <i class="green ace-icon fa fa-home bigger-120"></i> 人员 </a>
            </li>

            <li>
                <a  href="#message"> 消息 <span class="badge badge-danger">4</span> </a>
            </li>

            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"> 更多 &nbsp; <i class="ace-icon fa fa-caret-down bigger-110 width-auto"></i> </a>

                <ul class="dropdown-menu dropdown-info">
                    <li>
                        <a href="#man">男人</a>
                    </li>

                    <li>
                        <a href="#woman">女人</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div id="people" class="tab-pane fade in active" >
                
            </div>

            <div id="message" class="tab-pane fade" data-import="assets/templates/staff/message.html" data-async="true">

            </div>

            <div id="man" class="tab-pane fade">

            </div>

            <div id="woman" class="tab-pane fade">

            </div>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->