<div id="goodsClassify_content" class="row">
    <div class="classify212 sidebar sidebar-menu col-sm-2 col-sm-offset-2 paddb20" style="color:#333;background-color: #eee;">
        <div class="padda20 tab text-center">            
            <div class="tab-item active paddtb8" data-type="goodsClassify">商品分类</div>
            <div class="tab-item margint10 paddtb8 uhide" data-type="guideClassify">导购自定义分类</div>
        </div>        
        <div id="classifyList">
            
        </div>
                        
    </div>
    <div id="classify_right" class="col-sm-10 col-sm-offset-2 bc-wh" style="overflow-x: hidden;overflow-y: auto;">       
        <!-- 标准商品分类 开始-->
        <div id="goodsClassify" class="tab-content padda20">   
            <div class="paddb20">         
                <div class="col-md-4 paddtb8 border-b marginr20">
                    <span id="title">分类名称</span>
                    <input id="classifyname" class="bordernone margint0 bc-wh" type="text" />
                </div>
                <div class="col-md-2 paddtb8 form-horizontal h5Visible">
                    <div class="checkbox">
                        <label>
                           <input id="isIndexDisplay" type="checkbox">首页推荐
                        </label>
                    </div>
                </div>
                <div class="col-md-2 paddtb8 h5Visible form-horizontal">
                    <div class="checkbox">
                        <label>
                           <input id="isBigPic" type="checkbox">大图
                        </label>
                    </div>
                </div>
                <div class="paddtb8"><button id="saveNoPic" class="btn btn-default uhide">保存</button></div>
            </div>
            <div class="paddb20 visible222 uhide">         
                <div class="col-md-4 paddtb8 border-b marginr20">
                    <span>分类名称</span>
                    <input id="parentName" class="bordernone margint0 bc-wh" type="text" />
                </div>                
            </div>
            <div class="fileInput left">
                
            </div>
            <div class="col-md-11 text-center margint40 h5Visible">
                <h4 class="">文件大小建议200kb以内[640*730]</h4>
                <img id="classifyImg" class="margint40" src="assets/css/img/classifydress.jpg" width="300" height="350" />
            </div>            
            <div class="col-md-11 row text-center margint40 h5Visible">
                <input type="file" name="upfile" id="upfile" class="uhide" onchange="console.log(this.value)"/>                
                <button class="btn btn-warning marginr20" onclick="uploadFile()">点击上传图片</button>
                <button id="savePic" class="btn btn-success marginr20">保存</button>
                <button id="saveCancel" class="btn btn-primary">取消</button>
            </div>
        </div>
        <!-- 标准商品分类 结束-->
    </div>
</div>
<script>
      
      
    //$(".classify212 .tab .uhide","#goodsClassify_content").removeClass("uhide");
    if(localStorage['logintype']=="DGB"){
        $(".classify212 .tab .uhide","#goodsClassify_content").removeClass("uhide");
    }
    
    function uploadFile(){
        $('#upfile',"#goodsClassify_content").trigger("click");
    }
</script>
