<div id="orderAfterSale_content" class="">
    <div id="toppp" class="div-margin-top2">
        <ul class="nav nav-tabs row">
            <li class="active col-sm-2 text-center" data-id="content1">
                <a href="#orderAfterSale">退款(<span id="refund">--</span></a>
            </li>
            <li class="col-sm-2 text-center" data-id="content2">
                <a href="#orderAfterSale">退货(<span id="return">--</span>)</a>
            </li>
        </ul>
    </div>
    <div id="query" class="div-margin-top2 marginb10">
        <div class="row paddrl0 col-sm-11 ">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form role="form">
                    <div class="form-group">
                        <select id="returnType" class="form-control">
                            <!-- <option>全部退单</option>
                            <option>退款申请中</option>
                            <option>等待退款</option>
                            <option>退款中</option>
                            <option>退款成功</option>
                            <option>退款失败</option>
                            <option>退款关闭</option> -->
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="收货人">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="收货手机号">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="会员账号">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="name"
                            placeholder="订单编号">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row paddrl0 col-sm-11">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <form role="form">
                    <div class="form-group">
                        <select class="form-control">
                            <option>按下单时间</option>
                            <option>2016-2-17</option>
                            <option>2016-2-18</option>
                            <option>2016-2-19</option>
                            <option>2016-2-16</option>
                            <option>2016-2-15</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="input-group date">
                    <input type="text" placeholder="开始时间" class="form-control">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="input-group date">
                    <input type="text" placeholder="结束时间" class="form-control">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <button type="button" class="btn btn-success" style="width:50%;">
                    查询
                </button>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <div id="tableList" class="table-responsive2">
    	
    </div>
    <!-- <div id="content2" class="table-responsive" style="display:none;">
        我是退货页面
    </div> -->
</div>


<script>
    $('.input-group.date').datepicker({
        format : "yyyy-mm-dd",
        language : "zh-CN"
    }); 
    $('.nav-tabs li', '#orderAfterSale').on('click', function(){
        var id = $(this).data('id');
        $('.nav-tabs li', '#orderAfterSale').removeClass('active');
        $(this).addClass('active');
        $('div[id^=content]', '#orderAfterSale').hide();
        setTimeout(function(){
            $('#'+id, '#orderAfterSale').show();
        },100);
    })
    
    $('.text-info', '#orderAfterSale').on('click', function(){
           
        //location.href = '#orderDetailAfterSale'
    })
    function orderNumSave(obj){
        localStorage["orderNum"] = $("a",this).text();
        localStorage["orderStatus"] = $(this).data("orderstatus");
    }
    
    if (window.innerHeight){
        winHeight = window.innerHeight;
    }else if ((document.body) && (document.body.clientHeight)){
        winHeight = document.body.clientHeight;
    }
    
    var tableHeight = winHeight-$("#toppp","#orderAfterSale_content").outerHeight()-$("#query","#orderAfterSale_content").outerHeight()-135;
    $("table","#orderAfterSale_content").parent().css("height",tableHeight.toString()+"px").css("overflow-y","auto");
    
    //窗口大小改变
    $(window).resize(function() {
        if (window.innerHeight){
            winHeight = window.innerHeight;
        }else if ((document.body) && (document.body.clientHeight)){
            winHeight = document.body.clientHeight;
        }
        var tableHeight = winHeight-$("#toppp","#orderAfterSale_content").outerHeight()-$("#query","#orderAfterSale_content").outerHeight()-135;
        $("table","#orderAfterSale_content").parent().css("height",tableHeight.toString()+"px");
    });    
    
</script>
