<div class="table-responsive">
    <div class=" div-margin-top">
        <h3>退款信息</h3>
    </div>       
</div>
<div class="table-responsive text-center" style="max-height:80px;overflow-y:hidden;overflow-x: scroll;"> 
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap text-center">退款单号</th>
                <th class="text-nowrap text-center">申请退款时间</th>
                <th class="text-nowrap text-center">退款状态</th>
                <th class="text-nowrap text-center">退款类型</th>
                <th class="text-nowrap text-center">有货/无货退款</th>
                <th class="text-nowrap text-center">店铺</th>
                <th class="text-nowrap text-center">退款原因</th>
                <th class="text-nowrap text-center">系统退款</th>
                <th class="text-nowrap text-center">应退货款</th>
                <th class="text-nowrap text-center">快递费</th>
                <th class="text-nowrap text-center">合计</th>
                <th class="text-nowrap text-center">应退快递费</th>
                <th class="text-nowrap text-center">顾客垫付的快递费</th>
                <th class="text-nowrap text-center">退款合计</th>
                <th class="text-nowrap text-center">库房是否收货</th>
                <th class="text-nowrap text-center">入库时间</th>
                <th class="text-nowrap text-center">发货状态</th>
                <th class="text-nowrap text-center">顾客微支付账号</th>
                <th class="text-nowrap text-center">开户名</th>
                <th class="text-nowrap text-center">开户行</th>
                <th class="text-nowrap text-center">顾客微支付账号</th>
                <th class="text-nowrap text-center">账号</th>
                <th class="text-nowrap text-center">顾客姓名</th>
                <th class="text-nowrap text-center">联系电话</th>
                <th class="text-nowrap text-center">客服改价原因</th>
                <th class="text-nowrap text-center">修改人</th>
                <th class="text-nowrap text-center">修改时间</th>
                <th class="text-nowrap text-center">是否还有积分</th>
            </tr>
        </thead>
        <tbody >
            <%for(var i=0;i<data.refundDetail.length;i++){%>
            <tr>
                <td class="text-nowrap"><%=data.refundDetail[i].refindNo%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].refinedreateTime%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].refundStatus%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].refundType%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].goodsStatus%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].shopNo%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].reason%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].systemPay%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].freight%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].payMoney%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].totalPay%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].returnOrderFreight%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].CustomerPayreight%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].returnTotalPay%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].receiveStatus%></td>                
                <td class="text-nowrap"><%=data.refundDetail[i].inboundTime%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].sendStatus%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].alipayAccount%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].wechatAccount%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].bankAccountName%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].bankName%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].bankAccount%></td>                
                <td class="text-nowrap"><%=data.refundDetail[i].customerName%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].phone%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].priceChangeReason%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].modifiedBy%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].modifiedTime%></td>
                <td class="text-nowrap"><%=data.refundDetail[i].scoreGiftStatus%></td>
            </tr>
            <%}%>
        </tbody>
    </table>
</div>
<div class="table-responsive">
    <div class=" div-margin-top">
        <h3>订单信息</h3>
    </div>       
</div>
<div class="table-responsive text-center" style="max-height:80px;overflow-y:hidden;overflow-x: scroll;"> 
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap text-center">订单编号</th>
                <th class="text-nowrap text-center">OMS单号</th>
                <th class="text-nowrap text-center">订单状态</th>
                <th class="text-nowrap text-center">来源</th>
                <th class="text-nowrap text-center">店铺</th>
                <th class="text-nowrap text-center">下单时间</th>
                <th class="text-nowrap text-center">付款时间</th>
                <th class="text-nowrap text-center">运费</th>
                <th class="text-nowrap text-center">实付金额</th>
                <th class="text-nowrap text-center">实付积分</th>
                <th class="text-nowrap text-center">支付方式</th>
                <th class="text-nowrap text-center">支付状态</th>
                <th class="text-nowrap text-center">订单积分预估值</th>
                <th class="text-nowrap text-center">捆绑SKU</th>
                <th class="text-nowrap text-center">捆绑数量</th>
                <th class="text-nowrap text-center">捆绑原因</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td class="text-nowrap"><%=data.orderNo%></td>
                <td class="text-nowrap"><%=data.OMSNo%></td>
                <td class="text-nowrap"><%=data.orderStatus%></td>
                <td class="text-nowrap"><%=data.source%></td>
                <td class="text-nowrap"><%=data.shopNo%></td>
                <td class="text-nowrap"><%=data.orderCreateTime%></td>
                <td class="text-nowrap"><%=data.payTime%></td>
                <td class="text-nowrap"><%=data.freight%></td>
                <td class="text-nowrap"><%=data.payMoney%></td>
                <td class="text-nowrap"><%=data.payScores%></td>
                <td class="text-nowrap"><%=data.payType%></td>
                <td class="text-nowrap"><%=data.payStatus%></td>
                <td class="text-nowrap"><%=data.preScores%></td>
                <td class="text-nowrap"><%=data.bindSKU%></td>
                <td class="text-nowrap"><%=data.bindCount%></td>
                <td class="text-nowrap"><%=data.bindReason%></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="table-responsive">
    <div class=" div-margin-top">
        <h3>商品信息</h3>
    </div>       
</div>
<div class="table-responsive text-center" style="max-height:400px;overflow-x: scroll;"> 
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap text-center">商品图片</th>
                <th class="text-nowrap text-center">产品编号</th>
                <th class="text-nowrap text-center">商品名称</th>
                <th class="text-nowrap text-center">商品状态</th>
                <th class="text-nowrap text-center">商品类型</th>
                <th class="text-nowrap text-center">商品规格</th>
                <th class="text-nowrap text-center">商品重量</th>
                <th class="text-nowrap text-center">原价</th>
                <th class="text-nowrap text-center">实际销售价</th>
            </tr>
        </thead>
        <tbody >
            <%for(var i=0;i<data.goods.length;i++){%>
            <tr>
                <td class="text-nowrap">
                    <img src="<%=data.goods[i].goodsImg%>" class="center-block img-in-table-td" alt="">
                </td>
                <td class="text-nowrap"><%=data.goods[i].goodsNo%></td>
                <td class="text-nowrap"><%=data.goods[i].goodsName%></td>
                <td class="text-nowrap"><%=data.goods[i].goodsStatus%></td>
                <td class="text-nowrap"><%=data.goods[i].goodsType%></td>
                <td class="text-nowrap"><%=data.goods[i].goodsSpgg%></td>
                <td class="text-nowrap"><%=data.goods[i].goodsWeight%></td>
                <td class="text-nowrap"><%=data.goods[i].originalPrice%></td>
                <td class="text-nowrap"><%=data.goods[i].price%></td>
            </tr>
            <%} %>
            
        </tbody>
    </table>
</div>


<div class="table-responsive">
    <div class=" div-margin-top">
        <h3>买家信息</h3>
    </div>       
</div>
<div class="table-responsive text-center" style="max-height:80px;overflow-y:hidden;overflow-x: scroll;"> 
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap text-center">买家ID</th>
                <th class="text-nowrap text-center">省</th>
                <th class="text-nowrap text-center">市</th>
                <th class="text-nowrap text-center">区</th>
                <th class="text-nowrap text-center">详细地址</th>
                <th class="text-nowrap text-center">需求发票</th>
                <th class="text-nowrap text-center">发票抬头</th>
                <th class="text-nowrap text-center">邮政编码</th>
                <th class="text-nowrap text-center">收货人姓名</th>
                <th class="text-nowrap text-center">联系电话</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td class="text-nowrap"><%=data.buyerInfo.buyerId%></td>
                <td class="text-nowrap"><%=data.buyerInfo.provinces%></td>
                <td class="text-nowrap"><%=data.buyerInfo.cities%></td>
                <td class="text-nowrap"><%=data.buyerInfo.area%></td>
                <td class="text-nowrap"><%=data.buyerInfo.address%></td>
                <td class="text-nowrap">是</td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap"></td>
                <td class="text-nowrap">胡一刀</td>
                <td class="text-nowrap">15839389483</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <div class=" div-margin-top">
        <h3>导购信息</h3>
    </div>       
</div>
<div class="table-responsive text-center marginb15" style="max-height:80px;overflow-y:hidden;overflow-x: scroll;"> 
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap text-center">门店ID</th>
                <th class="text-nowrap text-center">导购员工ID</th>
                <th class="text-nowrap text-center">导购微信ID</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td class="text-nowrap"><%=data.shoppingGuide.shopId%></td>
                <td class="text-nowrap"><%=data.shoppingGuide.guideId%></td>
                <td class="text-nowrap"><%=data.shoppingGuide.guideWeChat%></td>
            </tr>
        </tbody>
    </table>
</div>       



