<h3 class="font-c top">密码修改</h3>
<div class="" style="text-align: right; width:500px;">
    <div class="margin-b">用户名：<span class="font-c">123546@bestseller.com.cn</span></div>
    <div class="margin-b">原始密码：<input type="password"/></div>
    <div class="margin-b">新密码：<input type="password"/></div>    
    <div class="margin-b">再次输入新密码：<input type="password"/></div>
    <div id="myTab" class="" style="margin-right: 50px;">
        <button type="button" class="btn btn-default green c-wh" style="outline: none;">
           保存
        </button>
        <a href="#goIndex" target="_self" >
            <button type="button" class="btn btn-default green c-wh" style="outline: none; margin-left:50px;">
               取消
            </button>
        </a>
    </div>  
</div>