<div class="sub-menu111 paddr15 paddl15">
    <div class="side-tab111 paddtb8" style="padding-left: 40px;">
        <a class="fold" style="position: absolute;left: 14px;top:12;"><img src="assets/css/img/jia.png" width="16" height="16" /></a>
        <input class="selAll" type="checkbox" style="position: absolute;left: 36px;top:12;">
        <label>针织衫</label>
    </div>
    <ul class="sub111 uhide">
        <li class="leaf">
            <input id="selAll" type="checkbox" style="position: absolute;left: 36px;top:12;">
            <a>开襟针织衫</a>    
        </li>
        <li class="leaf">
            <input id="selAll" type="checkbox" style="position: absolute;left: 36px;top:12;">
            <a >套头针织衫</a>    
        </li>    
        <li class="leaf">
            <input id="selAll" type="checkbox" style="position: absolute;left: 36px;top:12;">
            <a>宽松针织衫</a>    
        </li>                
        <li class="leaf">
            <input id="selAll" type="checkbox" style="position: absolute;left: 36px;top:12;">
            <a>修身针织衫</a>    
        </li>
        <li class="leaf">
            <input id="selAll" type="checkbox" style="position: absolute;left: 36px;top:12;">
            <a>纯色针织衫</a>    
        </li>
    </ul>      
</div>