<div id="sys_Feedback">
    <div id="top_feedback">
        <h3 class="font-c top">意见反馈</h3>
        <div class="" style="margin-top:30px;">
            <input type="text" placeholder="关键字" value="" id="keywords" class="font-c chaxun" style="vertical-align: bottom"/>
            <button type="button" class="btn btn-default btn-success c-wh" style="outline: none;" id="serch">
               查询
            </button>
        </div>
    </div>
    <div class=""style="margin-top:30px;">
        <div class="checkbox" style="margin-left:6%;" id="allCheck">
           <label class="umar-r" style="vertical-align: bottom"><input type="checkbox" value="" id="checkAll">全选</label>
           <button type="button" class="btn btn-default btn-success c-wh" style="outline: none;" id="lotDel">批量删除</button>
        </div>
        <div> 
            <table class="table table-bordered" style="margin-top:10px;">
               <tbody>
                  <tr class="odd_bg">
                     <td class="center"></td>
                     <td class="center">标题</td>
                     <td class="center">内容</td>
                     <td class="center">操作</td>
                  </tr>
                  <%for(var i=0; i<data.length; i++){%>
                      <!-- if(i%2===0){
                          $("tr").addClass("odd_bg");
                      }else{
                          $("tr").addClass("even_bg");
                      } 
                      -->
                      <tr class="">
                         <td class="center">
                             <div class="checkbox">
                                <label><input type="checkbox" value="<%=data[i].id%>"></label>
                             </div>
                         </td>
                         <td class="center"><%=data[i].name%></td>
                         <td class="center"><%=data[i].content%></td>
                         <td class="center mouse-pointer delFeedback" data-sysid="<%=data[i].id%>">删除</td>
                      </tr>
                  <%}%>
               </tbody>
            </table>
        </div>
    <!-- 底部分页部分-->
        <div class="" id="feedback_footer">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <p class="pagination">
                        当前页<span id="sys_count"></span>条,共<span id="sys_totalCount"></span>条.每页1-20
                    </p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 user-page user-display-inlineBlock">
                    <div class="row">
                        <div class="col-sm-4 text-right user-display-inlineBlock user-verT">
                           <form role="form" class="pagination">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </form> 
                        </div>
                        <div class="col-sm-8 user-display-inlineBlock">
                            <ul class="pagination">
                                <li>
                                    <a href="#">&laquo;</a>
                                </li>
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">&raquo;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function resizeTable(){
        if (window.innerHeight){
            winHeight = window.innerHeight;
        }else if ((document.body) && (document.body.clientHeight)){
            winHeight = document.body.clientHeight;
        }
        var tableHeight = winHeight-$("#top_feedback","#sys_Feedback").outerHeight()-$("#allCheck","#sys_Feedback").outerHeight()-200;
            $(".table","#sys_Feedback").parent().css({"height":tableHeight+"px","overflow-y":"auto"});
    }
    resizeTable();

    //窗口大小改变
    $(window).resize(function() {
        resizeTable();
    });
    //点击全选按钮    逻辑
    $("#checkAll","#sys_Feedback").on("click",function(){
        var onChecked = $(this).prop("checked");
        if(onChecked){
            $("input[type='checkbox']","#sys_Feedback").prop("checked",true);
        }else{
            $("input[type='checkbox']","#sys_Feedback").prop("checked",false);
        }
    });
    
    //点击   查询  按钮
    $("#search","#sys_Feedback").on("click",function(){
        userManageViewInstance.loadUserInfoList_search();
    });
    //点击  删除  按钮
    // $(".delFeedback","#sys_Feedback .table").on("click",function(){
        // feedbackListViewInstance.feedbackListDel($(this));
    // });
     //点击  批量删除  按钮
    // $("#lotDel").on("click",function(){
        // feedbackListViewInstance.feedbackListDel();
        // //alert(1);
        // // var arrId = [];
        // // arrId.push($("input:checked","table").val());
        // //alert(arrId[0]);
    // });
    //点击  select页码 
    $("select","#feedback_footer form").change(function(){
        var page = $("option:selected","#userManage_footer form").text();
        //alert(page);
        feedbackListViewInstance.loadfeedbackList_page(page);
    });
    //点击  li页码 
    $(".pagination li","#feedback_footer").on("click",function(){
        var page = $("a",this).text();
        // alert(page);
        feedbackListViewInstance.loadfeedbackList_page(page);
    });
</script>

