<div class="top" id="sys_DGB">
    <div style="float: left;">
        <h3 class="font-c">banner图</h3>
        <div style="width:390px; height:287px;">
            <img src="" style="width:390px; height:287px;" id="bannerImg"/>
        </div>
    </div>
    <div style="float: left;" class="top_span">
        <div style="margin-top:40px;">
            <h4 class="font-c">banner名称</h4>
            <input type="text" class="add-inp" style="outline: none;">
        </div>
        <div style="margin-top:20px; margin-bottom: 80px;">
            <h4 class="font-c">页面URL</h4>
            <input type="text" class="add-inp" style="outline: none;">
        </div>
        <div id="myTab">
            <div id="input-file" class="btn btn-default umar-r btn-success">
                <span id="text" class="mouse-pointer">上传图片</span>
                <input id="file" type="file" accept="image/*"/>
            </div> 
            <button type="button" class="btn btn-default umar-r btn-success" style="outline: none;" id="saveBanner">
              &nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;
           </button>
           <a href="#bannerManageTreasure" target="_self" >
               <button type="button" class="btn btn-default umar-r btn-success" style="outline: none;">
                  &nbsp;&nbsp;&nbsp;&nbsp;返回&nbsp;&nbsp;&nbsp;&nbsp;
               </button>
           </a>
        </div>
        
    </div>
</div>
<script>
    $("#saveBanner","#sys_DGB").on("click",function(){
        //alert("####"+$("#file").val());
        bannerAddViewInstance.bannerAdd();
        
    });
</script>
