<%for(var j=0;j<data.length;j++){%>
    <div class="sub-menu111" style="margin-left: -3px;">
        <div class="side-tab111">
            <div  data-classifyid="<%=data[j].classifyId%>" class="col-md-7 col-sm-6 paddl8 paddtb12 fold">
                <a><img src="assets/css/img/jia.png" width="20" height="20" /></a>
                <a class="marginr10 parent"><%=data[j].classifyName%></a>
            </div>
            <div class="col-md-5 col-sm-6 paddr8 paddtb12 text-right">
                <a  data-classifyid="<%=data[j].classifyId%>" class="tianjia uhide"><img src="assets/css/img/tianjia.png" width="16" height="16"/></a>
                <a  data-classifyid="<%=data[j].classifyId%>" class="classifyDel uhide"><img src="assets/css/img/delete.png" width="16" height="16" /></a>
                <a class=""><img src="assets/css/img/tuijian.png" width="16" height="16" /></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="sub111 uhide">
            <%for(var i=0;i<data[j].list.length;i++){%>
                <li class="leaf row" data-classifyid=<%=data[j].list[i].classifyId%>>
                    <div class="col-md-7 col-sm-6">
                        <a><%=data[j].list[i].classifyName%></a>
                    </div>
                    <div class="col-md-5 col-sm-6 text-right" data-classifyid=<%=data[j].list[i].classifyId%> >
                        <a data-classifyid=<%=data[j].list[i].classifyId%> class="classifyDel"><img src="assets/css/img/delete.png" width="16" height="16" /></a>
                        <a class="paddr8"><img src="assets/css/img/tuijian.png" width="16" height="16" /></a> 
                    </div>  
                    <div class="clearfix"></div>                     
                </li>   
            <%}%>
        </ul>      
    </div>
<%}%>