<div class="">
    <table class="table table-bordered text-center" style="vertical-align:middle;overflow-x: auto;">
        <tbody >       
            <tr>
                <th class="min-width80 text-center"></th>
                <th class="text-center">商品</th>
                <th class="text-center">分类</th>
                <th class="text-center">吊牌价</th>
                <th class="text-center">销售价</th>
                <th class="text-center">折扣</th>
                <th class="text-center">库存数量</th>
                <th class="text-center">类型</th>
                <th class="text-center">操作</th>
            </tr> 
            <%for(var i=0;i<data.length;i++){%>    
            <tr>                
                <td class="w60p"><input onclick="goodsCheckbox11(this)"  value="<%=data[i].goodsId%>" data-classifyids=<%=JSON.stringify(data[i].goodsClassifyIds)%> type="checkbox"></td>
                <td class="">
                    <div style="display: inline-block">
                        <img src="<%=data[i].url%>" class="" width="120" height="180"/>
                    </div>
                    <div class="" style="display: inline-block;">                            
                        <p class=""><%=data[i].colorSKU%></p>
                        <p class=""><%=data[i].goodsName%></p>                              
                    </div>
                </td>
                <td><%=data[i].goodsClassifyNames%></td>
                <td><%=data[i].originalPrice%></td>
                <td><%=data[i].price%></td>
                <td><%=data[i].discount*100+"%"%></td>
                <td><%=data[i].stockCount%></td>
                <td><%=data[i].goodsType%></td>
                <td><a href="#goodsPublish?goodsId=<%=data[i].goodsId%>">查看</a></td>                
            </tr> 
            <%}%>                                                                                                   
        </tbody>
    </table>
</div>
<div class="row margin00">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <p class="pagination">显示从1到10，共302条。每页显示10</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-sm-4 text-right">
                <form role="form" class="pagination">
                    <div class="form-group">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form> 
            </div>
            <div class="col-sm-8">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>                
    </div>
</div>