<tbody >       
    <tr>
        <th class="text-center">产品图片</th>
        <th class="text-center">商品名称</th>
        <th class="text-center">商品编码</th>
        <th class="text-center">销量</th>
        <th class="text-center">库存</th>
        <th class="text-center">操作</th>
    </tr>     
    <%for(var i=0;i<data.length;i++){ %>
        <tr id="<%=data[i].goodsId%>">
            <td class="">                        
                <img src="<%=data[i].url%>" class="" width="60" height="120"/>                        
            </td>
            <td><%=data[i].goodsName%></td>
            <td><%=data[i].colorSKU%></td>
            <td>销量未返回</td>
            <td><%=data[i].stockCount%></td>
            <td>
                <button data-goodsid="<%=data[i].goodsId%>" class="btn btn-success shelveChoose" onclick="shelveChoose(this)">选取</button>
                <button data-goodsid="<%=data[i].goodsId%>" class="btn btn-success uhide shelveCancel" onclick="shelveCancel(this)">取消</button>
            </td>
        </tr>   
    <%}  %>                                                                            
</tbody>
