/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    color: #FFF;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        /*top: 50px;*/
       top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 0 0 0;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #3C4B5F;
        border-right: 1px solid #eee;
    }
    
}

/*sidebar navigation*/
.sidebar ul li {
    position: relative;
}

.sidebar .sub-menu > .sub li {
    padding-left: 56px;
}

.sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}
.sidebarsubselected {
    background-color: #35AF84!important;
}
.sidebar_height {
    padding-right: 8px;
}
/*LEFT NAVIGATION ICON*/
.fold-icon:before {
    content: "\e601";
}
.active .fold-icon:before {
    content: "\e602";
}

.fold-icon {
    height: 17px;
    width: 17px;
    display: inline-block;
    /*background: url(../img/nav-expand.png) no-repeat top;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.active .fold-icon {
    /*background: url(../img/nav-expand.png) no-repeat bottom;*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/*---*/
.nav-collapse {
    overflow: none;
    /*height: 100%;
     width: 100%;*/
}
.nav-collapse ul {
    list-style: none;
}
.nav-collapse ul li {
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.nav-collapse ul li a {
    text-decoration: none;
    color: #fff;
}
.nav-collapse ul li a:hover {
    color: red;
}
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu, ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 20px;
}

.sidebar > ul > li > ul.sub {
    display: none;
}
.sidebar .passw {
    display: text-decoration: underline;
}
.sidebar .passw:hover{
    color: #337ab7;
}
.sidebar > ul > li.active > ul.sub, .sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li {
    background: #EEEEEE;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    
}

ul.sidebar-menu li ul.sub li:last-child {
    /*border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;*/
}

ul.sidebar-menu li ul.sub li a {
    font-size: 14px;
    padding: 16px 4px 0 4px;
    vertical-align:middle;
    /*-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;*/
    color: #3c3c3c;
}

ul.sidebar-menu li ul.sub li a:hover span, ul.sidebar-menu li ul.sub li.active a span{
    color: #FFF;
    background-color: #35AF84;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*display: block;*/
}

ul.sidebar-menu li.sub-menu {
    line-height: 15px;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 16px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #EEEEEE;
    color: #35AF84;
    display: block;
    /*border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 16px;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #FF6C60;
}

ul.sidebar-menu li a.active i {
    color: #FF6C60;
}

.mail-info, .mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}
form select{
    color: #55636e;
    border-radius: 0!important;
    
}
.sidebar .form-control{
    background-color: #35404D;!important;
    border: none!important;
}
.sidebarbb{
    position: absolute;
    top: -10px;
    left: 42px;
    width: 14px;
    height: 40px;
    z-index: 999999;
}
