<div id="sidebar_content">
    <div class="div-margin-top">
        <div class="text-center"><img src="assets/css/img/logo.png"  style="width:138px; height: 90px;"/>
        </div>
        <div class="text-center margint10 marginb10 paddrl8">
            <span class="text-right">欢迎您！
                <a class="passw" href="#passwordEdit" target="_self" >
                    <span class="font-12">密码查看</span>
                </a>
            </span>
        </div>
    </div>
    <form class="div-margin-top" role="form">
       <div class="form-group paddrl8">
          <select class="form-control c-wh font-16" style="-webkit-appearance:none;">
             <option>移动手机官网</option>
             <option>导购宝</option>
          </select>
          <select class="form-control margint10 c-wh font-16" style="-webkit-appearance:none;">
             <option>JackJones</option>
             <option>ONLY</option>
          </select>
       </div>
    </form>
    <ul class="sidebar-menu iconfont">
        <li>            
            <a class="active side-tab" target="_self" href="#index" >                
                <img src="assets/css/img/sidebar_1.png" width="20" height="18"/> <i class="icon-dashboard"></i> 
                <span>首页</span> 
            </a>
        </li>
        <li class="sub-menu">
            <a class="side-tab" href="#goodsPublishList"><img src="assets/css/img/sidebar_2.png" width="20" height="18.8"/> <i class="icon-laptop"></i> <span>商品管理</span> </a>  
            <ul class="sub bc-eee" style="padding-top: 10px;">
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#goodsPublishList" target="_self" ><span style="padding: 4px;">商品发布</span></a>
                </li>
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>    
                    <a href="#goodsInfo" target="_self" ><span style="padding: 4px;">商品信息维护</span></a>
    
                </li>
    
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/> 
                    <a href="#goodsClassify" target="_self" ><span style="padding: 4px;">商品分类维护</span></a>
    
                </li>
                
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#goodsImport" target="_self" ><span style="padding: 4px;">商品信息批量导入导出</span></a>
    
                </li>
            </ul>      
        </li>
    
        <li class="sub-menu">
            <a class="side-tab" href="#orderAll"> <img src="assets/css/img/sidebar_3.png" width="20" height="18.6"/><i class="icon-book"></i> <span>订单管理</span> </a> 
            <ul class="sub bc-eee" style="padding-top: 10px;">
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#orderAll" target="_self" ><span style="padding: 4px;">全部订单</span></a>
    
                </li>
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#orderAfterSale" target="_self" ><span style="padding: 4px;">售后订单</span></a>
    
                </li>
    
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#orderAbnormal" target="_self" ><span style="padding: 4px;">异常单查询</span></a>
    
                </li>
                
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#orderExport" target="_self" ><span style="padding: 4px;">订单导出</span></a>
    
                </li>
            </ul>           
        </li>
        <!-- 系统管理模块 -->
        <li class="sub-menu sys_manage">
            <a class="side-tab" target="_self" href="#bannerManage" id="sys_manage"><img src="assets/css/img/sidebar_4.png" width="20" height="20"/> <i class="icon-cogs"></i> <span>系统管理</span> </a>   
            <ul class="sub bc-eee" style="padding-top: 10px;">
                <li class="leaf H5banner">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#bannerManage" target="_self" ><span style="padding: 4px;">banner管理</span></a>
                </li>
                <li class="leaf DGBbanner">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#bannerManageTreasure" target="_self" ><span style="padding: 4px;">banner管理</span></a>
                </li>
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#custom" target="_self" ><span style="padding: 4px;">自定义页面管理</span></a>
                </li>
                <li class="leaf sidebar-aboutUs">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#aboutUs" target="_self" ><span style="padding: 4px;">关于我们</span></a>
                </li>
                <li class="leaf  sidebar-contacUs" style="padding-bottom: 10px;">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#contactUs" target="_self" ><span style="padding: 4px;">联系我们</span></a>
                </li>
                <li class="leaf sidbar-feedback">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#feedback" target="_self" ><span style="padding: 4px;">意见反馈</span></a>
                </li>
            </ul>      
        </li>
        <!-- 用户管理模块    开始-->
        <li class="sub-menu">
            <a class="side-tab" target="_self"  href="#userManage"><img src="assets/css/img/sidebar_5.png" width="20" height="18"/> <i class="icon-cogs"></i> <span>用户管理</span> </a>
        </li>
        <!-- 用户管理模块   结束-->
        <li class="sub-menu dgbVisible uhide" id="tutorialli">
            <a class="side-tab" href="#tutorialPublish"><img src="assets/css/img/sidebar_6.png" width="20" height="21"/> <i class="icon-book"></i> <span>教程管理</span> </a>
            <ul class="sub bc-eee" style="padding-top: 10px;">
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#tutorialPublish" target="_self" ><span style="padding: 4px;">教程发布</span></a>
                </li>
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#tutorialManager" target="_self" ><span style="padding: 4px;">教程信息管理</span></a>
                </li>
                <li class="leaf">
                    <img class="sidebarbb" src="assets/css/img/sidebarbb.png"/>   
                    <a href="#tutorialMaintain" target="_self" ><span style="padding: 4px;">教程信息维护</span></a>
                </li>
            </ul>      
        </li>
        <li class="sub-menu dgbVisible uhide">
            <a class="side-tab" href="#fittingWall" target="_self"><img src="assets/css/img/sidebar_7.png" width="21" height="20"/> <i class="icon-book"></i> <span>试衣墙管理</span> </a>
        </li>
        <li class="sub-menu" id="logout">
            <a class="side-tab" href="javascript:;"> <img src="assets/css/img/sidebar_8.png" width="20" height="20"/><i class="icon-book"></i> <span>注销</span> </a>
        </li>    
    </ul>
</div>

<script src="js/lib/sidebar-scripts.js"></script>

<script>
    $(".side-tab","#sidebar_content").click(function(){
        var sidebar_height = $("#sidebar_content").outerHeight();
        // if(sidebar_height>winHeight){
            // $("#sidebar_content").parent().css("padding-right","8px");
        // }else{
            // $("#sidebar_content").parent().css("padding-right","0");
        // }
    });
    $(".sub li a","#sidebar_content").click(function(){
        $(this).children().addClass("sidebarsubselected").addClass("c-wh");
        $($(this).parent().siblings().find(".sidebarsubselected")).removeClass("sidebarsubselected").removeClass("c-wh");
        $(this).parent().parent().parent().siblings().find(".sidebarsubselected").removeClass("sidebarsubselected").removeClass("c-wh");
    });
    $(".side-tab","#sidebar_content").click(function(){
        $($(this).parent().siblings().find(".sidebarsubselected")).removeClass("sidebarsubselected").removeClass("c-wh");
        $(this).parent().parent().parent().siblings().find(".sidebarsubselected").removeClass("sidebarsubselected").removeClass("c-wh");
    });
    if(localStorage["logintype"]=="DGB"){
        $(".dgbVisible","#sidebar_content").removeClass("uhide");
        //系统管理模块的显隐 判断
        $(".H5banner","#sidebar_content").addClass("uhide");
        $(".sidebar-aboutUs","#sidebar_content").addClass("uhide");
        $(".sidebar-contacUs","#sidebar_content").addClass("uhide");
        $("#sys_manage",".sys_manage").attr("href","#bannerManageTreasure");
    }
    if(localStorage["logintype"]=="H5"){
        $(".DGBbanner","#sidebar_content").addClass("uhide");
        $(".sidbar-feedback","#sidebar_content").addClass("uhide");
    }
    $("#logout").on("click",function(){
        var r=confirm("您确定要注销吗？");
        if (r==true){
           loginOutViewInstance.loginOut();
        }else{
           return false;
        }
        //loginOutViewInstance.loginOut();
    });
</script>
