<div class="row" style="height: 100%;">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab" style="display:none;"></ul>
        <div class="tab-content staff-main">
            <div id="people" class="tab-pane fade" data-import="assets/templates/staff/test.html" data-async="true">                
            </div>            
            <!--MSS添加如下-->
            <!-- 首页 -->
            <div id="index" class="tab-pane fade in active" data-import="assets/templates/staff/index.html" data-async="true">
            </div>
            <!-- 密码 -->
            <div id="passwordEdit" class="tab-pane fade in active" data-import="assets/templates/staff/passwordEdit.html" data-async="true">
            </div>
            <div id="goIndex" class="tab-pane fade in active" data-import="assets/templates/staff/index.html" data-async="true">
            </div>
            <!-- 商品发布模块 -->
            <div id="goodsPublishList" class="tab-pane fade" data-import="assets/templates/staff/goodsPublishList.html" data-async="true">
            </div>
            <div id="goodsPublish" class="tab-pane fade" data-import="assets/templates/staff/goodsPublish.html" data-async="true">
            </div>
            <div id="goodsDetail" class="tab-pane fade" data-import="assets/templates/staff/goodsDetail.html" data-async="true">
            </div>
            <div id="goodsInfo" class="tab-pane fade" data-import="assets/templates/staff/goodsInfo.html" data-async="true">
            </div>
            <div id="goodsClassify" class="tab-pane fade" data-import="assets/templates/staff/goodsClassify.html" data-async="true">
            </div>
            <div id="goodsImport" class="tab-pane fade" data-import="assets/templates/staff/goodsImport.html" data-async="true">
            </div>
            <!-- 订单管理模块 -->
            <div id="orderAll" class="tab-pane fade" data-import="assets/templates/staff/orderAll.html" data-async="true">
            </div>
            <div id="orderAfterSale" class="tab-pane fade" data-import="assets/templates/staff/orderAfterSale.html" data-async="true">
            </div>
            <div id="orderAbnormal" class="tab-pane fade" data-import="assets/templates/staff/orderAbnormal.html" data-async="true">
            </div>
            <div id="orderExport" class="tab-pane fade" data-import="assets/templates/staff/orderExport.html" data-async="true">
            </div>
            <div id="orderDetail" class="tab-pane fade" data-import="assets/templates/staff/orderDetail.html" data-async="true">
            </div>
            <div id="orderDetailAfterSale" class="tab-pane fade" data-import="assets/templates/staff/orderDetailAfterSale.html" data-async="true">
            </div>
            <!-- 试衣墙模块-->
            <div id="fittingWall" class="tab-pane fade" data-import="assets/templates/staff/fittingWall.html" data-async="true">
            </div>

            <!-- 教程管理模块 -->
            <div id="tutorialPublish" class="tab-pane fade" data-import="assets/templates/staff/tutorialPublish.html" data-async="true">
            </div>
            <div id="tutorialManager" class="tab-pane fade" data-import="assets/templates/staff/tutorialManager.html" data-async="true">
            </div>
            <div id="tutorialManagerContent" class="tab-pane fade" data-import="assets/templates/staff/tutorialManagerContent.html" data-async="true">
            </div>
            <div id="tutorialMaintain" class="tab-pane fade" data-import="assets/templates/staff/tutorialMaintain.html" data-async="true">
            </div>
            <!-- 系统管理模块   开始 -->
            <div id="bannerManage" class="tab-pane fade" data-import="assets/templates/staff/systemBannerManage.html" data-async="true">
            </div>
            <div id="addBanner" class="tab-pane fade" data-import="assets/templates/staff/systemAddBanner.html" data-async="true">
            </div>
            <!-- <div id="goBannerManage" class="tab-pane fade" data-import="assets/templates/staff/systemBannerManage.html" data-async="true">
            </div> -->
            <!-- banner管理 导购宝端    开始 -->
            <div id="bannerManageTreasure" class="tab-pane fade" data-import="assets/templates/staff/systemBannerManageTreasure.html" data-async="true">
            </div>
            <div id="addBannerTreasure" class="tab-pane fade" data-import="assets/templates/staff/systemAddBannerTreasure.html" data-async="true">
            </div>
            <div id="goBannerManageTreasure" class="tab-pane fade" data-import="assets/templates/staff/systemBannerManageTreasure.html" data-async="true">
            </div>
            <!-- banner管理 导购宝端  结束 -->
            <div id="custom" class="tab-pane fade" data-import="assets/templates/staff/systemCustom.html" data-async="true">
            </div>
            <div id="uploadPage" class="tab-pane fade" data-import="assets/templates/staff/systemUploadPage.html" data-async="true">
            </div>
            <!-- <div id="goCustom" class="tab-pane fade" data-import="assets/templates/staff/systemCustom.html" data-async="true">
            </div> -->
            <div id="aboutUs" class="tab-pane fade" data-import="assets/templates/staff/systemAboutUs.html" data-async="true">
            </div>
            <div id="addInfo" class="tab-pane fade" data-import="assets/templates/staff/systemAboutUs_addInfo.html" data-async="true">
            </div>
            <!-- <div id="goAboutUs" class="tab-pane fade" data-import="assets/templates/staff/systemAboutUs.html" data-async="true">
            </div> -->
            <div id="contactUs" class="tab-pane fade" data-import="assets/templates/staff/systemContactUs.html" data-async="true">
            </div>
            <div id="feedback" class="tab-pane fade" data-import="assets/templates/staff/systemFeedback.html" data-async="true">
            </div>
            <!-- 系统管理模块    结束-->
            <!-- 用户管理模块 -->
            <div id="userManage" class="tab-pane fade" data-import="assets/templates/staff/userManage.html" data-async="true">
            </div>
            <!-- 用户信息查看链接 -->
            <div id="adduser" class="tab-pane fade" data-import="assets/templates/staff/userAddUser.html" data-async="true">
            </div>
            <!--MSS end-->
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->